@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600;700&display=swap');
@font-face {
    font-family:'Kpwb';
    font-style:normal;
    font-weight:300;
    src:local('KoPubWorldBatang'),
        url('https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Light.woff2') format('woff2'),
}
@font-face {
    font-family:'Kpwb';
    font-style:normal;
    font-weight:400;
    src:local('KoPubWorldBatang'),
        url('https://cdn.jsdelivr.net/npm/font-kopubworld@1.0/fonts/KoPubWorld-Batang-Medium.woff2') format('woff2'),
}
body{
    margin:0;
    padding:40px;
    background-color:#FAFAFA;
    color:#424242;
    font-family:'Kpwb','Noto Serif TC';
}
pre{
    padding:0;
    margin-bottom:20px;
    font-family:'Kpwb','Noto Serif TC';
}
.showing{
    color:#424242;
}
.showing:hover{
    color:#50C896;
}
.showing-clicked{
    color:#50C896;
}
.showed-visible{
    display:block;
    position:fixed;
    bottom: 10dvh;
    margin:0 auto;
    width:200px;
    padding:5px;
    background-color:#FAFAFAC8;
    font-size:14px;
    color:#505050;
    border-radius:5px;
    box-shadow:2px 2px 4px #42424242;
}
.showed{
    display:none;
}
